.cart {
  min-height: 820px;
  max-width: 920px;
  border: 1px solid #BFAFAF;;
  margin: 0 auto;
  border-radius: 7px;
  margin-top: calc(160px + 24px);
  position: relative;
  margin-bottom: 60px;
  padding: 120px;
  &-img {
    position: absolute;
    left: 0;
    right: 0;
    top: -30px;
    margin: 0 auto;
  }

  &-body {
    min-height: calc(820px - (120px * 2));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-items {
      & > .productCartItem:last-child {
        border-bottom: none;
      }

      & > .productCartItem {
        flex-wrap: wrap;
      }
    
    }

    &-sum {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 39px;
      border-top: 1px solid #ddd;
      & > div {
        font-size: 25px;
      }
      & > .button {
        font-size: 20px;
        padding: 10px 35px;
      }
    }   
  }
}

@media (max-width: 900px) {
  .cart {
    padding: 72px 24px 24px 24px;
    min-height: 620px;

    &-body {
      &-sum {
        padding: 24px 0;
      }
    }
  }
}

@media (max-width: 400px) {
  .cart {
    padding: 48px 12px 12px 12px;
    &-body {
      &-items {
        & > .productCartItem {
          flex-direction: column;
          justify-content: center;
          .productCartItem-name {
            margin-right: 0;
            width: fit-content;
            & > img {
              margin-right: 0;
            }
          }
          
          & > * {
            margin-bottom: 6px;
          }
          
          .productCartItem-name {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 6px;
          }
        }
      }
    }
  }
}
