@import '../../global.scss';

.main {
  &-header {
    display: flex;
    justify-content: space-between;
    &-offer {
      h1 {
        font-size: 45px;
        font-weight: 500;
        margin-top: 93px;
      }
      a {
        margin-top: 45px;
      }

      &-items {
        display: flex;
        margin-top: 60px;
        & > div {
          display: flex;
          flex-direction: column;
          margin-right: 45px;
          &:last-child {
            margin-right: 0;
          }

          & > img {
            width: fit-content;
          }

          & > span {
            margin-top: 12px;
          }
        }
      }
    }

    & > div {
      display: flex;
      flex-direction: column;
    }

    &-bg {
      min-height: 550px;
    }
  }
  

  &-body {
    margin-top: 48px; 
    &-newProducts, &-saleProducts, &-superSaleProducts {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 70px;
      &-title {
        position: absolute;
        top: -20px;
        background: #fff;
        left: 0;
        right: 0;
        width: fit-content;
        margin: auto;
        font-size: 30px;
      }

      & > .productItem {
        margin: 27px 14px 0 14px;
      }
    }

    &-line {
      border-bottom: 1px solid #FF9455;;
      width: 100%;
    }
  }
}


@media (max-width: 1200px) {
  .main {
    div &-header {
      justify-content: center;

      &-offer {
        align-items: center;
        h1 {
          text-align: center;
          margin-top: 24px;
          font-size: 35px;
        }
        &-items {
          & > div {
            align-items: center;
            margin-right: 25px;
            & > span {
              text-align: center;
            }
          }
        }
      }

      div &-bg {
        display: none;
      }
    }

    
  }
}

@media (max-width: 700px) {
  .main {
    div &-body {
      &-newProducts, &-saleProducts, &-superSaleProducts {
        justify-content: center;
        &-title {
          font-size: 20px;
          top: -13px;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .main {
   margin-top: $headerHeightMobile;
  }
}