.button {
  padding: 15px 48px;
  color: #fff;
  background-color: #ff0000;
  border-radius: 10px;
  text-decoration: none;
  width: fit-content;
  border: none;
  font-size: 23px;
  cursor: pointer;
  &:focus {
    outline: none;
    -webkit-user-select: none;
    /* user-select -- это нестандартное свойство */

    -moz-user-select: none;
    /* поэтому нужны префиксы */

    -ms-user-select: none;
  }
}

@media (max-width: 500px) {
  .button {
    font-size: 18px;
  }
}
