.productItem {
  width: 337px;
  padding: 0 12px 12px 12px;
  border: 1px solid #000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;

  &-optionImage {
    position: absolute;
    top: -20px;
    right: -20px;
  }

  &-image {
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &-title {
    font-size: 30px;
  }

  &-description {
    margin-top: 6px;
    font-size: 20px;
  }

  &-buy {
    margin-top: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    span {
      font-size: 30px;
    }
  }
}