@import './global.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
 
}

.App {
  padding: 12px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  &-content {
    margin-top: $headerHeight;
    min-height: 100vh;
  }
}

@media (max-width: 500px) {
  .App {
    &-content {
      margin-top: $headerHeightMobile;
    }
  }
}

